<!DOCTYPE html>
<html>
<head>
	<title>gallery</title>
	<link rel="stylesheet" href="photo.css" />
	<script defer src="underscore.js"></script>
	<script defer src="jquery-1.7.2.min.js"></script>
	<script defer src="photo.js"></script>
</head>

<div class="photos">
<% photos.each do |photo| %>
	<img class="photo" src="<%= photo %>" />
<% end %>
</div>
